[Desktop Entry]
Type=Application
Name=Kjerag
GenericName=360 Video Player
Comment=Play Insta360 dual fisheye video
Exec=kjerag %f
Icon=dev.harding.Kjerag
Terminal=false
StartupNotify=true
Categories=COSMIC;AudioVideo;Player;Video;
Keywords=360;Insta360;Fisheye;Reframe;Video;Player;
MimeType=video/x-insta360-insv;
